@import url("./root.css");

main {
  margin-top: 50px;
}
main h2.mainTitle {
  text-align: center;
  font-size: 2.4vw;
  margin-bottom: 20px;
}

/* collection INDICATOR */
main .colTit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
main .colTit h2 {
}
main .colTit #colIndicator {
  display: flex;
  height: 40px;
}
main .colTit #colIndicator button {
  line-height: 40px;
  background-color: transparent;
  border: none;
  margin: 0 1em;
  cursor: pointer;
}
main .colTit #colIndicator .list-container {
  width: 400px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: var(--item-radius);
  overflow: hidden;
}
main .colTit #colIndicator .list-container ul {
  width: 800px;
  display: flex;
}
main .colTit #colIndicator .list-container ul li {
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid var(--main-white);
  cursor: pointer;
}
main .colTit #colIndicator .list-container ul li.clicked {
  background-color: var(--main-black);
}
main .colTit #colIndicator .list-container ul li a {
  font-size: 1rem;
}

main .colTit #colIndicator .list-container ul li.clicked a {
  color: #fff;
  font-weight: bold;
}

/* COLLECTION */
main .colContainer {
  margin: 30px;
}
main .colContainer h2 {
  font-size: 1.8vw;
  font-weight: 400;
}
/* collection Visual 영역 */
main .colContainer .colVisual {
  padding: 1rem 0.75rem;
  position: relative;
  border-bottom: 1px solid var(--main-black);
}
main .colContainer .colVisual .imgArea {
  width: 80%;
  margin: 0 auto;
}
main .colContainer .colVisual .imgArea {
  display: flex;
  justify-content: center;
  position: relative;
}
main .colContainer .colVisual .imgArea .imgWrap {
  border: 1px solid var(--main-black);
  border-radius: var(--main-radius);
  margin-right: 1em;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
main .colContainer .colVisual .imgArea .imgWrap:nth-child(1) {
  flex-grow: 1;
  height: 20vh;
  background-image: url("../img/collections/aj00.jpeg");
}
main .colContainer .colVisual .imgArea .imgWrap.slider {
  flex-grow: 3;
  height: 40vh;
  background-image: url("../img/collections/aj1.webp");
}
main .colContainer .colVisual .imgArea .imgWrap:nth-child(3) {
  flex-grow: 2;
  height: 30vh;
  background-image: url("../img/collections/aj0.webp");
  margin-right: 0;
}

main .colContainer .colVisual .imgArea .imgWrap img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .colContainer .colVisual .infoArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .colContainer .colVisual .infoArea .slogan p {
  font-size: 4.4vw;
  font-weight: bold;
}
main .colContainer .colVisual .infoArea .slogan p:last-child {
  font-size: 4.2vw;
  margin-top: -1.5vh;
  margin-left: 25px;
}
main .colContainer .colVisual .infoArea .slogan p span {
  color: var(--main-white);
  text-shadow: -1px -1px 0 var(--main-black), 1px -1px 0 var(--main-black),
    -1px 1px 0 var(--main-black), 1px 1px 0 var(--main-black);
  margin-left: 10px;
}
main .colContainer .colVisual .infoArea .infoBox {
  width: 30%;
}
main .colContainer .colVisual .infoArea .infoBox .infoLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
main .colContainer .colVisual .infoArea .infoBox .infoLine dt,
main .colContainer .colVisual .infoArea .infoBox .infoLine dd {
  font-size: 0.8vw;
}
main .colContainer .colVisual .infoArea .infoBox .infoLine dd {
  font-weight: bold;
  text-align: right;
}

/* collection 상품 리스트 영역 */
main .colProducts {
  margin-top: 2rem;
}
main .colProducts .shoeToggle {
  text-align: right;
  margin-bottom: 20px;
}
main .colProducts .shoeToggle button {
  border: 1px solid var(--main-black);
  padding: 0.3em 0.7em;
  border-radius: var(--item-radius);
  background-color: var(--main-white);
  color: var(--main-black);
  cursor: pointer;
}

main .colProducts .shoeToggle button.checked {
  background-color: var(--main-black);
  color: var(--main-white);
}

main .colProducts .shoeToggle button i {
  margin-right: 5px;
}
main .colProducts .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 5rem;
  padding-bottom: 7rem;
}
/* grid-item */
main .colProducts .grid-container .shoe-box.hide {
  display: none;
}
main .colProducts .grid-container .shoe-box .img-box {
  width: 100%;
  position: relative;
  border: 1px solid #cdcdcd;
  background-color: #f5f5f5;
  border-radius: var(--item-radius);
  overflow: hidden;
}
main .colProducts .grid-container .shoe-box .img-box > img {
  width: 100%;
}
main .colProducts .grid-container .shoe-box .img-box .heart-circle {
  background-color: white;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .colProducts .grid-container .shoe-box .img-box .heart-circle i {
  color: var(--main-red);
  font-size: 20px;
}
/* text box */
main .colProducts .grid-container .shoe-box .text-box {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  vertical-align: bottom;
  padding: 0 5px;
}

main .colProducts .grid-container .shoe-box .text-box .text-box--left {
  display: flex;
  flex-direction: column;
}

main .colProducts .grid-container .shoe-box .text-box .text-box--right {
  display: flex;
  flex-direction: row;
}

main .colProducts .grid-container .shoe-box .text-box .shoe-tit {
  font-size: 1.4vw;
  font-weight: bold;
}
main .colProducts .grid-container .shoe-box .text-box .type {
  font-size: 1.2vw;
  color: #898484;
  margin-top: 0.5rem;
}
main .grid-container .shoe-box .text-box .original-price {
  text-decoration: line-through;
  color: #898484;
  font-size: 10px;
  margin: 3px 0.5rem;
}
main .colProducts .grid-container .shoe-box .text-box .sale-price {
  font-size: 1.3vw;
}

/* hover */
main .colProducts .grid-container .shoe-box .img-box:hover {
  cursor: pointer;
}
main .colProducts .grid-container .shoe-box .img-box .hover-wrap {
  display: none;
}
main .colProducts .grid-container .shoe-box .img-box .hover-wrap.show {
  display: block;
}
main .colProducts .grid-container .shoe-box .img-box .hover-wrap .hover-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.6;
}
main .colProducts .grid-container .shoe-box .img-box .hover-wrap .btns-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main
  .colProducts
  .grid-container
  .shoe-box
  .img-box
  .hover-wrap
  .btns-wrap
  .btn {
  border: 1px solid #000;
  margin: 1.5rem;
  width: 130px;
  background-color: #f1f2ec;
  border-radius: 13px;
  text-align: right;
  padding-right: 10px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main
  .colProducts
  .grid-container
  .shoe-box
  .img-box
  .hover-wrap
  .btns-wrap
  .btn.goto-kream {
  color: #000;
}
main
  .colProducts
  .grid-container
  .shoe-box
  .img-box
  .hover-wrap
  .btns-wrap
  .btn.goto-kream:active {
  color: var(--main-red);
}
main
  .colProducts
  .grid-container
  .shoe-box
  .img-box
  .hover-wrap
  .btns-wrap
  .btn.goto-kream
  img {
  width: 90%;
  /* border: 1px solid red; */
}
main
  .colProducts
  .grid-container
  .shoe-box
  .img-box
  .hover-wrap
  .btns-wrap
  .btn.show-modal {
  letter-spacing: 2px;
  font-size: 1.2vw;
  font-weight: bold;
}
main
  .colProducts
  .grid-container
  .shoe-box
  .img-box
  .hover-wrap
  .btns-wrap
  .btn.show-modal
  i {
  margin-left: 0.6rem;
}

/* 576 768 992 */
@media (max-width: 992px) {
  /* indicator */
  main .colTit #colIndicator .list-container {
    width: 200px;
  }

  /* visual */
  main .colContainer .colVisual .imgArea {
    width: 100%;
  }

  main .colProducts .grid-container .shoe-box .text-box .shoe-tit,
  main .colProducts .grid-container .shoe-box .text-box .sale-price {
    font-size: 1.8vw;
  }
  main .colProducts .grid-container .shoe-box .text-box .type,
  main .colProducts .grid-container .shoe-box .text-box .original-price {
    font-size: 1.6vw;
  }

  /* products grid */
  main .colProducts .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  main h2.mainTitle {
    font-size: 32px;
  }
  main .colContainer h2 {
    font-size: 16px;
  }

  /* grid */
  main .colContainer .colVisual .imgArea .imgWrap {
    display: none;
  }
  main .colContainer .colVisual .imgArea .imgWrap.slider {
    display: block;
    height: 50vh;
    margin: 0;
  }
  main .colContainer .colVisual .imgArea > span {
    display: none;
  }
  main .colContainer .colVisual .infoArea {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.6rem 0;
  }
  main .colContainer .colVisual .infoArea .slogan {
    margin-bottom: 1rem;
  }
  main .colContainer .colVisual .infoArea .slogan p {
    font-size: 6.2vw;
  }
  main .colContainer .colVisual .infoArea .slogan p:last-child {
    font-size: 6vw;
  }
  main .colContainer .colVisual .infoArea .infoBox {
    width: 100%;
  }
  main .colContainer .colVisual .infoArea .infoBox .infoLine dt,
  main .colContainer .colVisual .infoArea .infoBox .infoLine dd {
    font-size: 12px;
  }

  /* products grid */
  main .colProducts .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  main .colProducts .grid-container .shoe-box .text-box .shoe-tit,
  main .colProducts .grid-container .shoe-box .text-box .sale-price {
    font-size: 16px;
  }
  main .colProducts .grid-container .shoe-box .text-box .type,
  main .colProducts .grid-container .shoe-box .text-box .original-price {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  /* indicator */
  main .colTit {
    flex-direction: column;
  }
  main .colTit #colIndicator {
    margin-top: 1rem;
  }

  /* products grid */
  main .colProducts .grid-container {
    grid-template-columns: 1fr;
  }
}
