header {
  overflow-x: hidden;
  width: 100%;
}

header > .main-menu {
  height: 100px;
}

header > .main-menu > .inner {
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header > .main-menu > .inner > .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > .main-menu > .inner > .menu > li {
  margin-right: 30px;
}

header > .main-menu > .inner > .menu > li > a {
  color: var(--main-black);
}

header > .main-menu > .inner > .menu > li > i {
  color: var(--main-black);
}

header > .main-menu > .inner > .menu > li#wishlist a {
  display: block;
  padding: 0.25em 0.7em;
  background-color: #fff;
  border-radius: var(--item-radius);
  border: 1px solid var(--main-black);
}
header > .main-menu > .inner > .menu > li#wishlist a span {
  margin-right: 3px;
  font-size: 14px;
}
header > .main-menu > .inner > .menu > li#wishlist a i {
  color: var(--main-red);
  font-size: 14px;
}
