header {
  overflow-x: hidden;
  width: 100%;
}

header > .main-menu {
  height: 100px;
}

header > .main-menu > .inner {
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header > .main-menu > .inner > .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > .main-menu > .inner > .menu > li {
  margin-right: 30px;
}

header > .main-menu > .inner > .menu > li > a {
  color: var(--main-black);
}

header > .main-menu > .inner > .menu > li > i {
  color: var(--main-black);
}

header > .main-menu > .inner > .menu > li#wishlist a {
  display: block;
  padding: 0.25em 0.7em;
  background-color: #fff;
  border-radius: var(--item-radius);
  border: 1px solid var(--main-black);
}
header > .main-menu > .inner > .menu > li#wishlist a span {
  margin-right: 3px;
  font-size: 14px;
}
header > .main-menu > .inner > .menu > li#wishlist a i {
  color: var(--main-red);
  font-size: 14px;
}

header > .flow {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  white-space: nowrap;
}

header > .flow > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: loop 5s linear infinite;
  line-height: 2;
  margin-right: 8px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

header > .flow > div > * {
  margin-right: 5px;
}

.modal-search {
  background-color: black;
  width: 100%;
  height: 300px;
  left: 0;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -300px;
  transition: 0.35s;
}

.modal-search.active {
  top: 0;
}

.modal-search > i {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 5%;
  right: 1%;
  cursor: pointer;
}

.modal-search > .search {
  top: 10%;
  width: 1000px;
  position: relative;
  height: 200px;
}

.search > .field {
  display: flex;
  position: absolute;
  width: 100%;
}

.search > .field:before {
  /* width: 100%; */
  content: "\f002";
  font-family: FontAwesome;
  color: black;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.search > .field > input[type="search"],
.search > .field > input[type="button"] {
  padding: 15px;
}

.search > .field > input[type="search"] {
  flex: 5;
  padding-left: 50px;
  outline: none;
  font-size: 1.5rem;
}

.search > .field > input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search > .field > input[type="search"]::placeholder {
  font-style: italic;
  transition: 0.35s;
}

.search > .field > input[type="search"]:focus::placeholder {
  opacity: 0;
}

.search > .field > input[type="button"] {
  flex: 1;
  background-color: gray;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  font-size: 1.5rem;
}

.search > .field > input[type="button"]:hover {
  opacity: 1;
}

.hash-tag {
  font-size: 20px;
  color: white;
  display: none;
  position: absolute;
  bottom: 10%;
}
