@import url("./root.css");

* {
  background-color: var(--main-ivory);
}

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 1920px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 1920px;
  height: 270px;
}

header img {
  width: 80px;
}

main {
}
