@import url("./reset.css");

section{
    padding: 0 3rem;
}

main > .section1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/main/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 30px 30px;
}

main > .section1 > .threejs-container{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

main > .section2{}

main > .section2 > .swiper1{
    width: 100%;
    height: 200px;
}

main > .section2 > .swiper1 > .swiper-wrapper > .swiper-slide{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .setcion2 > .swiper1 > .swiper-wrapper > .swiper-slide > a{
    color: black;
}

main > .section3{
    padding-top: 0px;
    
}

main > .section3 > .article1{
    height: 6rem;
}

main > .section3 > .article1 > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100%;
}

main > .section3 > .article2 {}

main > .section3 > .article2 > .swiper {
    height: 250px;
}


main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item1{
    background-color: white;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    
}

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item2{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item2 > .pn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item2 > .pn > p{
    margin-right: 10px;
}

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item2 > .pn > p:first-child{
    text-decoration: underline;
}

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item2 > .pn > p:last-child{
    font-weight: 800;
    font-size: 20px;
}

main > .section3 > .article2 > .swiper > .swiper-wrapper > .swiper-slide > .item2 > a{
    color: black;
}

main > .section4 > .article1 > p {
    height: 6rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .section4 > .article2 {
    width: 100%;
}


main > .section4 > .article2 > .item{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: center; */
    padding-bottom: 3rem;
    width: 100%;
    margin: 0 auto;
}

main > .section4 > .article2 > .item > .img{
    background-color: yellow;
    width: 60%;
}
main > .section4 > .article2 > .item > .img > img{
    width: 100%;
    height: 100%;
}
main > .section4 > .article2 > .item > .title {
    padding-left: 30px;
}

main > .section4 > .article2 > .item > .title > *{
    margin-bottom: 10px;
}

main > .section4 > .article2 > .item > .title > p:nth-child(2){
    font-weight: 800;
    font-size: 20px;
    width: 80%;
}

main > .section4 > .article2 > .item > .title > button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

main > .section4 > .article2 > .item > .title > button > p{
    margin-right: 5px;
}


