@import url("../css/reset.css");
@import url("../css/root.css");
@import url("../css/header.css");

body {
  background-color: var(--main-ivory);
}

main > .section1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 250vh; 
    overflow-x: hidden;
}

main > .section1 > .section1-title > h1{
    position: absolute;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    top: 40px;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-red);
}

/* 운동화 애니메이션 */
main > .section1 > .threejs-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 200px;
}

main > .section2 {
  margin: 3rem 0px;
}

main > .section2 > .article1 {
  width: 100%;
  /* margin: 0 3rem; */
}

main > .section2 > .article1 > .swiper1 {
  width: 100%;
}

main > .section2 > .article1 > .swiper1 > .swiper-wrapper > .swiper-slide {
  position: relative;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .swiper-slide
  > img:first-child {
  width: 100%;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .swiper-slide
  > img:nth-child(2) {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 30px;
}
main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .swiper-slide
  > p:nth-child(3) {
  position: absolute;
  color: white;
  font-size: 20px;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .swiper-slide
  > p:nth-child(4),
main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .swiper-slide
  > p:nth-child(5) {
  font-family: "Alfa Slab One", cursive;
  position: absolute;
  color: white;
  font-size: 45px;
  line-height: 1;
  color: white;
  -webkit-text-stroke: 1px var(--main-red);
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .slide1
  > p:nth-child(3) {
  bottom: 21%;
  left: 3%;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .slide1
  > p:nth-child(4) {
  bottom: 4%;
  left: 3%;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .slide2
  > p:nth-child(3) {
  top: 20%;
  left: 10%;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .slide2
  > p:nth-child(4) {
  top: 25%;
  left: 10%;
  text-align: center;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .slide3
  > p:nth-child(3) {
  font-family: "Alfa Slab One", cursive;
  position: absolute;
  color: white;
  font-size: 45px;
  line-height: 1;
  color: white;
  -webkit-text-stroke: 1px var(--main-red);
  top: 15%;
  left: 5%;
}

main
  > .section2
  > .article1
  > .swiper1
  > .swiper-wrapper
  > .slide3
  > p:nth-child(4) {
  top: 5%;
  left: 95%;
  font-size: 38px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100%;
  position: absolute;
}

main > .section2 > .article2 {
  margin: 3rem 0;
}

main > .section2 > .article2 > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 3rem;
  margin: 20px 0px;
  color: var(--main-black);
  /* background-color: gray; */
  font-weight: 800;
}

main > .section2 > .article2 > .swiper2 {
  height: 250px;
}

main > .section2 > .article2 > .swiper2 > .swiper-wrapper > .swiper-slide {
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item1 {
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item1
  > img {
  width: 100%;
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item2
  > .pn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item2
  > .pn
  > p {
  margin-right: 10px;
  color: var(--main-black);
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item2
  > .pn
  > p:first-child {
  text-decoration: underline;
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item2
  > .pn
  > p:last-child {
  font-weight: 600;
  font-size: 20px;
}

main
  > .section2
  > .article2
  > .swiper2
  > .swiper-wrapper
  > .swiper-slide
  > .item2
  > a {
  color: var(--main-black);
}

main > .section2 > .article3 {
  width: 100%;
  margin: 3rem 0;
}

main > .section2 > .article3 > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 3rem;
  margin: 20px 0px;
  color: var(--main-black);
  /* background-color: gray; */
  font-weight: 800;
}

main > .section2 > .article3 > .newsroom > .item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: center; */
  padding-bottom: 3rem;
  width: 100%;
  margin: 0 auto;
}

main > .section2 > .article3 > .newsroom > .item:nth-child(2) {
  justify-content: space-between;
}

main > .section2 > .article3 > .newsroom > .item > .img {
  background-color: yellow;
  width: 55%;
}
main > .section2 > .article3 > .newsroom > .item > .img > img {
  width: 100%;
}
main > .section2 > .article3 > .newsroom > .item > .newroom-title {
  padding-left: 30px;
}

main > .section2 > .article3 > .newsroom > .item > .newroom-title > * {
  margin-bottom: 10px;
}

main > .section2 > .article3 > .newsroom > .item > .newroom-title > p {
  color: black;
}

main
  > .section2
  > .article3
  > .newsroom
  > .item
  > .newroom-title
  > p:nth-child(2) {
  font-weight: 800;
  font-size: 28px;
  width: 90%;
}

main > .section2 > .article3 > .newsroom > .item > .newroom-title > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

main > .section2 > .article3 > .newsroom > .item > .newroom-title > button > p {
  margin-right: 5px;
}
