@import url("./root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a,
a:hover,
a:visited,
a:focus,
a:active {
  color: var(--main-black);
}

ul,
ol {
  list-style: none;
}

body {
  /* overflow: hidden; */
  background-color: var(--main-ivory);
}
