:root {
  /* color */
  --main-red: #aa010a;
  --main-white: #f1f2ec;
  --main-ivory: #f7f4ec;
  --main-black: #000000;

  --item-bg-white: #f9f9f9;

  /* text */

  /* padding & margin */
  --item-margin: 0.5rem;

  /* border-radius */
  --main-radius: 15px;
  --item-radius: 10px;
}
